.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.craft-node {
    position: relative;
    padding: 10px;
}

.button-only {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    gap: 16px;

}

:root{
    --flex-direction: column;
}
.base-container {
    flex-direction: var(--flex-direction);
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.base-container > * {
    flex-shrink: 0;
}


.right-panel {
    align-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: rgba(0,0,0,0.06);
}

.button-only {
    min-width: 50px;
    display: flex;
}


