@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.craft-node {
    position: relative;
    padding: 10px;
}


.button-only {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 50px;
}

:root{
    --flex-direction: column;
}

#ROOT {
    flex-direction: var(--flex-direction);
    overflow-x: auto;
    gap: 20px;
}

.free-canvas {
    position: relative;
    min-height: 500px;
}

.free-canvas > * {
    position: absolute;
}


#ROOT > * {
    flex-shrink: 0;
}

.new-container  {
    flex-direction: var(--flex-direction);
    display: flex;
    overflow-x: auto;
    gap: 20px;

}


.right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(200, 188, 188, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tool-btn {
    border-radius: 25px !important;
    background-color: rgba(84, 136, 174, 0.79) !important;
    color: white !important;
    font-weight: bold !important;
    padding: 10px 20px !important;
    transition: all 0.3s ease !important;
    margin-bottom: 10px !important;
}
.tool-btn:hover {
    background-color: #3700b3 !important;
    transform: scale(1.05);
}

.custom-typography {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #070853, rgba(0, 34, 255, 0.81), #046ba1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.text-comp {
    font-family: "Quicksand", sans-serif;
}


.custom-label{
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #070853, rgba(0, 34, 255, 0.81), #046ba1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-paper {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 300px;
    top: 0;
}

.base-btn {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-width: fit-content;
    min-height: fit-content;
    white-space: pre-wrap;
    overflow: hidden;
}




